{% extends 'eminer/base.html' %}
{% load django_markdown %}
{% load static %}
{% block index_view %}
    <br/><br/><br/>
    <h3>E-Miner</h3>
    <ul>
        <li><p>This whole blog is being developed in Django 1.7 a Python's dynamic MVC framework!</p></li>
        <li><p>I develope this blog to show my passion towards Python and Data analysis.</p></li>
        <li><p>This blog has basic functionalities like user registration and posting options to the registered users.</p></li>
<li><h4>Functionality:</h4></li><ul>
        <li><p>A normal registred user can write a post related to academics or education, but they can't publish it on the blog(i.e only published posts are shared publicly).</p></li>
        <li><p>Those posts completed are scrutinized by the admin and they get posted if they are valid.</p></li>
        </ul></ul>
        <div class='author_view'>
            <h3>About the Author:</h3>
            <div id='author_img'><img src="{% static 'images/author.png' %}"/></div>
            <div id='author_des'><h4>Sreenivasa Rao Pallapu</h4>
            <p>A programming enthusiast. Passionate to live in the field of Machine Learning,
            Artificial Intelligence to fulfill the thrust for revolutionary work.
            Artificial Intelligence is of major interest.
            Has foundations in Digital Image processing and Machine Learning etc.
            Working towards DeepLearning Computer vision...</p>

            <p>He is a positive, motivated, and hard-working person who is keen to learn quickly and contribute.
            His technical skills are combined with excellent communication skills that allow him to work effectively and positively and get along well with others.</p>

            <ul>
                <li>Graduation:
                <ul>
                    <li>Graduated from IIIT-Nuzvid(RGUKT).</li>
                    <li>Major: Electronics and Communications</li>
                    <li>Minor: Computer Science and Engineering</li></li>
                </ul>
                <li>Key Skills:
                <ul>
                    <li>Good fluency in Python language, and Linux.</li>
                    <li>Expert at Webscraping with Python-Multiprocessing.</li>
                    <li>Full-stack Developer having good hands on experience with Machine Learning.</li>
                    <li>Automation of bulk data operations like Mining web, cleaning and storing in database.</li>
                    <li>Good Knowledge in Django, Flask web development frameworks of Python.</li>
                    <li>Good potency at creating quick web apis using flask and hosting them!</li>
                    <li>Worked with api.ai, wit.ai to create chatbots and currently learning to implement own NLP module for chatbot!</li>
                    <li>Foundations in Digital image processing.</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <p>Inspired by the ability of Neural Networks and DeepLearning. Currently building own neural Network!!!</p>
                </ul>
                <li>Professional Links:</li>
                <ul>
                    <li><a href='https://github.com/sreenivas134'>Git hub</a></li>
                    <li><a href='https://in.linkedin.com/in/sreenivas134'>LinkedIn</a></li>
                    <!--<li><a href='http://www.codeeval.com/profile/sreenivas134/'>CodeEval</a></li>-->
                </ul>
                </li>
                <li>Contact:</li>
                <ul>
                    <li><a href='mailto:sreenivas.engece@gmail.com'>sreenivas.engece@gmail.com</a></li>
                </ul>
                </li>
            </ul></div>
        </div>
{% endblock %}